* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #121212;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  background-color: rgb(233, 233, 197);
  padding: 0.5rem;
  border-radius: 275px 25px 245px 25px/25px 245px 25px 275px;
  border: solid #121212;
  box-shadow: 20px 20px 70px -20px beige;
  gap: 1rem;
}

.logo {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.fa-bars-staggered,
.fa-x {
  z-index: 30;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

#menu {
  display: none;
}

label .fa-x {
  display: none;
}

header input:checked ~ label .fa-bars-staggered {
  display: none;
}

header input:checked ~ label .fa-x {
  display: block;
}

.header-767px {
  position: fixed;
  top: 0;
  padding: 20px; 
  width: 100%;
  height: 5.5rem;
  background-color: rgb(233, 233, 197);
  padding: 0.5rem;
  border-radius: 275px 25px 245px 25px/25px 245px 25px 275px;
  border: solid #121212;
  box-shadow: 20px 20px 70px -20px beige;
}

.header-767px nav ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-right: 60px;
}

.header-767px nav ul li {
  list-style-type: none;
}
.header-767px nav ul li a {
  text-decoration: none;
  color: #121212;
  font-size: 1.25rem;
}

 .header-767px {
  display: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.triangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  width: 85%;
  padding: 15px;
  height: 70vh;
  box-shadow: 1px 5px 16px 0px beige;
  border-radius: 255px 55px 265px 25px/55px 25px 55px 25px;
}
.triangle p {
  line-height: 1.35;
  font-size: 0.7rem;
}
.info-menu {
  position: fixed;
  top: 5.5rem;
  left: -300vw;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 100%;
  height: 85%;
  background-color: rgb(233, 233, 197);
  gap: 10px;
  transition: left 0.5s ease-in-out;
  border-radius: 255px 55px 245px 25px/25px 245px 55px 245px;
  border: solid #121212;
}

header input:checked ~ .info-menu {
  left: 0;
}

.info-menu ul li {
  list-style-type: none;
}

.info-menu ul li a {
  text-decoration: none;
  color: #121212;
  font-size: 2rem;
  font-weight: bold;
}

.info1 {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  opacity: 0;
  animation: cascade-animation 6s 0.25s ease-in-out infinite;
  overflow: hidden;
  top: 25%;
  left: 12%;
}

.info2 {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  animation: cascade-animation 6s 0.75s ease-in-out infinite;
  top: 20%;
  left: 45%;
}

.info3 {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  animation: cascade-animation 6s 1s ease-in-out infinite;

  top: 20%;
  left: 60%;
}

.info4 {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  animation: cascade-animation 6s 1.25s ease-in-out infinite;
  top: 20%;
  left: 75%;
}

.info5 {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  animation: cascade-animation 6s 0.5s ease-in-out infinite;
  top: 20%;
  left: 30%;
}

.content {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  background-color: rgb(233, 233, 197);
  padding: 0.5rem;
  border-radius: 275px 25px 245px 25px/25px 245px 25px 275px;
  border: solid #121212;
  box-shadow: 20px 20px 70px -20px beige;
  gap: 1rem;
  transition: all 0.5s ease;
}

@keyframes cascade-animation {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@media screen and (min-width: 1024px){
  .triangle p{
    font-size: 6rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {

.header{
  display: none;
}

.header-767px{
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triangle h2{
  font-size: 2.5rem;
}

.triangle p{
  font-size: 1rem;
}

}

@media screen and (max-width: 280px) {
  .triangle p {
    font-size: 0.55rem;
  }
} 
